{% extends 'base.html.twig' %}

{% block title %} Ça ne fonctionne pas ! {% endblock %}

{% block nav %}
    {{  parent() }}
    <li><a href="#contact">VACANCES</a></li>
    <li><a href="www.amelietamisier.fr">la meilleure <3</a></li>

{% endblock %}

{% block body %}

{% endblock %}
