{% extends 'base.html.twig' %}

{% block title %} Ça ne fonctionne pas ! {% endblock %}

{% block nav %}
    {{  parent() }}
    <li><a href="#contact">VACANCES</a></li>
    <li>KOULE LA PLUS BELLE</li>

{% endblock %}

{% block body %}

    <p>coucou c'est un petit test</p>
    <p>pour voir si je peux revenir à d'ancienne version</p>

    <p>bim bam boom</p>

    <p>woop woop woop</p>

{% endblock %}
