{% extends 'base.html.twig' %}

{% block title %} Ça ne fonctionne pas ! {% endblock %}

{% block nav %}
    {{  parent() }}
    <li><a href="#contact">VACANCES</a></li>
    <li>KOULE LA PLUS BELLE</li>

{% endblock %}

{% block body %}

{% endblock %}
